.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh; 
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: #f3f2f2;
  flex: 1;
  overflow-y: auto;
  background-color: white;
  border-left: 1px solid #e5e7eb;
}
.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #92e895; 
}
.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  color: #3dcd58;
}

.tree-section {
  flex: 1; 
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-left: 4px solid #3dcd58;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.analytics-section{
  padding: 2rem;
  color: #064e3b;
  background-color: #a8fa95;
  border-left: 1px solid #057414;
   font-size: 1.05rem;
  font-weight: 600;
}